@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        filter:blur(20px)
    }
  
    25% {
        transform: rotate(120deg);
        opacity: 1;
        filter: blur(0px);
    }
  
    75% {
        transform: rotate(240deg);
        opacity: 1;
        filter: blur(0px);
    }
  
    100% {
        transform: rotate(360deg);
        opacity: 0;
        filter:blur(20px);
    }
  }

  @keyframes vitecolors{
    0%{
        text-shadow: 0px 0px 10px orange;
    }
    33%{
        text-shadow: 0px 0px 10px cyan;
    }
    66%{
        text-shadow: 0px 0px 10px fuchsia;
    }
    100%{
        text-shadow: 0px 0px 10px orange;
    }
  }
  